      <div id="log-frame">
        <div id="log">
          <p class="frame-h">вход</p>
          <form>
            <label for="phone-inp" class="lab"><img src="{{ STATIC_URL }}img/phone.png"></label>
            <input type="phone" class="vu" id="phone-inp" placeholder="введите номер телефона" >
          </form>
            <button name="reg" class="btn">регистрация</button>
            <button class="btn">вход</button>
          <p style="font-size:15px;">восстановление пароля</p>
        </div>
        <div class="social-log">
          <span>вход в аккаунт<br>
через социальные сети</span>
          <img src="{{ STATIC_URL }}img/fb-vh.png">
          <img src="{{ STATIC_URL }}img/fb-vh.png">
          <img src="{{ STATIC_URL }}img/fb-vh.png">
      </div>
      </div>