<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}SofastMoney{% endblock %}</title>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
     <link href="http://allfont.ru/allfont.css?fonts=freeset" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
     <style>
     *{
       font-family: 'FreeSet', arial;
     }
     </style>
  </head>

  <body>

    <header>
      <div class="logo">
        <img src="{{ STATIC_URL }}img/logo.png" alt="logo" />
      </div>

      <menu>
        <div class="menu-elem">
          <div class="menu-ico">
            <img src="{{ STATIC_URL }}img/all-ico.png">
          </div>
          <div class="menu-name">

          </div>
        </div>

        <div class="menu-elem">
          <div class="menu-ico">
            <img src="{{ STATIC_URL }}img/card-ico.png">
          </div>
          <div class="menu-name">
              <p>Перевод с карты на карту</p>
          </div>
        </div>

        <div class="menu-elem">
          <div class="menu-ico">
            <img src="{{ STATIC_URL }}img/kalk-ico.png">
          </div>
          <div class="menu-name">
              <p>Калькулятор валют</p>
          </div>
        </div>

        <div class="menu-elem">
          <div class="menu-ico">
            <img src="{{ STATIC_URL }}img/ticket-ico.png">
          </div>
          <div class="menu-name">
              <p>Покупка билетов</p>
          </div>
        </div>
        </menu>
        <div class="triangle-down">
        </div>
    </header>

    <div id="content">{% block content %}{% endblock %}</div>

    <div id="bottom">
    <div id="bot-info">
      <div class="bot">
      <ul class="bot-bl">
          ГЛАВНОЕ
          <li><a href="#">Компания Wallet One</a></li>
          <li><a href="#">Условия использования</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Символика</a></li>
          <br>
          <br>
          <li><a href="#">наши партнеры</a></li>
      </ul>
      <ul class="bot-bl">
          ИНФОРМАЦИЯ
          <li><a href="#">Тарифы</a></li>
          <li><a href="#">Пополнение</a></li>
          <li><a href="#">Оплата услуг</a></li>
          <li><a href="#">Вывод средств</a></li>
      </ul>

      <ul class="bot-bl">
          ИНФОРМАЦИЯ
          <li><a href="#">Тарифы</a></li>
          <li><a href="#">Пополнение</a></li>
          <li><a href="#">Оплата услуг</a></li>
          <li><a href="#">Вывод средств</a></li>
      </ul>
      </div>

      <div class="contacts">
        <p>hello@sofastmoney.com</p>
        <p>8 800 700-78-77</p>
        <p class="social-con">
          <a href="#"><img src="{{ STATIC_URL }}img/fb-con.png"></a>
          <a href="#"><img src="{{ STATIC_URL }}img/vk-con.png"></a>
          <a href="#"><img src="{{ STATIC_URL }}img/twitter-con.png"></a>
          <a href="#"><img src="{{ STATIC_URL }}img/linkedin-con.png"></a>
        </p>
      </div>
    </div>

    <div class="dwnlds">
     	<div class="dwn"><img src="{{ STATIC_URL }}img/android-dwnld.png"></div>
     	<div class="dwn"><img src="{{ STATIC_URL }}img/ios-dwnld.png"></div>
     	<div class="dwn"><img src="{{ STATIC_URL }}img/wphone-dwnld.png"></div>
    </div>


      <img src="{{ STATIC_URL }}img/bottom-img.png" class="back-img">

    </div>
    <div id="copyright-line">
    	<p>
    		&copy; 2015, АО &laquo;СОФАСТ МОНЕЙ&raquo;, офицыальный сайт, лицензия НБ Украины № 2673
    	</p>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
  <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/extra/phone-codes/phone.js"></script>
  <script src="{{ STATIC_URL }}js/input/readyphonemask.js"></script>
  <script src="{{ STATIC_URL }}js/ui.js"></script>
  <script type="text/javascript">

      $(document).ready(function(){

          $('.sendform').submit(function (event) {
              event.preventDefault();
              $(this).ajaxSendForm();
          });

          $("form input").each(function(index){
              $(this).attr("plhd",$(this).attr("placeholder"));
              return false
          });

          $("#phone-inp").inputmask("phone",{'autoUnmask':true,onUnMask: function(maskedValue, unmaskedValue) {
              var val = maskedValue.replace(/\(|\)|-/g,'');
              return val}});

          $("#reg #phone-inp").phonemask();

          $("button[name='reg']").on("click",function(){
              $("#log-frame").slideUp(600);
              $("#reg-frame").slideDown(800);
              $("#phone-inp").phonemask();
          });

          $("#reg-frame .back").on("click", function(){
              $("#log-frame").slideDown(600);
              $("#reg-frame").slideUp(800);
              $("#phone-inp").phonemask();
          });

          $("form input, .vu").on("focus",function(){
              var id = $(this).attr("id");
              $(this).css({"outline":"none","font-size":"24px"});
              $("label[for='"+id+"']").addClass("label-focus");
              str = $(this).attr("placeholder");
              $(this).attr("placeholder","")
          });

          $("#phone-inp, .vu").on("blur", function(){
              if(!($(this).val())){
                  $(this).attr("placeholder",$(this).attr("plhd"));
                  $(this).css({"font-size":"15px"});
              }
          });

          $("form input").on("blur",function(){
              var id = $(this).attr("id");
              if(!($(this).val())){
                  $(this).css({"font-size":"15px"});
                  $(this).attr("placeholder",$(this).attr("plhd"));
              };

              $("label[for='"+id+"']").removeClass("label-focus");
          });

          $("#checkboxDiv").click(function(){
              if($(this).hasClass('checkboxOff')){
                  $(this).removeClass('checkboxOff');
                  $(this).addClass('checkboxOn');
              }
              else{
                  $(this).removeClass('checkboxOn');
                  $(this).addClass('checkboxOff');
              }
          })
      });
  </script>
  </body>
</html>
