{% extends 'main/base.html' %}
{% block content %}
      <p class="sfm">#SOFAST MONEY - БОЛЬШЕ ЧЕМ ПЕРЕВОДЫ!</p>
{% if not request.user.is_authenticated %}
      <div class="auth-frame">

      </div>

        {% include 'main/_login_pass_form.html' %}
    <div id="reg-frame" style="display:none;">
        {% include 'main/_reg_form.html' %}
      <div class="back"><img src="{{ STATIC_URL }}img/ico-back.png"></div>
        {% include 'main/_login_social_form.html' %}
      </div>
{% endif %}
      <div id="about">
        <div class="triangle-down"></div>
      </div>
{% endblock %}