{% extends 'main/base.html' %}
{% block content %}
      <p class="sfm">#SOFAST MONEY - БОЛЬШЕ ЧЕМ ПЕРЕВОДЫ!</p>
{% if not request.user.is_authenticated %}
      <div class="auth-frame">

      </div>

      <div>

      </div>

        {% include 'main/_login_pass_form.html' %}
    <div id="reg-frame" style="display:none;">
        {% include 'main/_reg_form.html' %}
      <div class="back"><img src="{{ STATIC_URL }}img/ico-back.png"></div>
        {% include 'main/_login_social_form.html' %}
      </div>
{% endif %}
      <div id="about">
        <p class="sfm">ЭЛЕКТРОННЫЙ КОШЕЛЕК И ВИРТУАЛЬНАЯ КАРТА В ДВА КЛИКА</p>
        <img src="{{ STATIC_URL }}img/phone-wallet.png" id="phone-wallet">

        <div class="triangle-down"></div>
      </div>

      <div id="blog">
        <p class="sfm">НАШ БЛОГ</p>

        <div id="blog-line">
          <div class="blog-elem">
            <img src="{{ STATIC_URL }}img/fintech.png">
            <p class="blog-elem-text">Fintech технологии сегодня</p>
          </div>
          <div class="blog-elem">
            <img src="{{ STATIC_URL }}img/bank.png">
            <p class="blog-elem-text">Банк и его отношение к клиенту</p>
          </div>
          <div class="blog-elem">
            <img src="{{ STATIC_URL }}img/skach.png">
            <p class="blog-elem-text">Скачек валюты что б это могло значить</p>
          </div>
          <div class="blog-elem">
            <img src="{{ STATIC_URL }}img/newsys.png">
            <p class="blog-elem-text">Новая система платежей</p>
          </div>
          <div class="blog-elem">
            <img src="{{ STATIC_URL }}img/next-bl.png" id="next-arrow">
            <p class="blog-elem-text">Остальные новости</p>
          </div>
        </div>

        <p class="sfm">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ НАШИХ ПОЛЬЗОВАТЕЛЕЙ</p>

        <div id="question-line">
          <div class="question-elem">
            <img src="{{ STATIC_URL }}img/ico-man.png">
            <p class="question-text">Как пользоваться кошельком?
Какие приемущества...</p>
          </div>

          <div class="question-elem">
            <img src="{{ STATIC_URL }}img/ico-women.png">
            <p class="question-text">Как пользоваться кошельком?
Какие приемущества...</p>
          </div>

          <div class="question-elem">
            <img src="{{ STATIC_URL }}img/ico-women.png">
            <p class="question-text">Как пользоваться кошельком?
Какие приемущества...</p>
          </div>

          <img class="next" src="{{ STATIC_URL }}img/next-q.png" >

        </div>
        <div class="triangle-down"></div>
      </div>
{% endblock %}